<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe deleted!</title>
  </head>
  <body>
    <h1>Recipe deleted!</h1>
    <a href="/recipes">Back to all recipes</a>
  </body>
</html>
